# Terraform artifacts
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform CLI configuration
.terraformrc
terraform.rc

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable definitions (may contain secrets)
*.tfvars
*.tfvars.json

# Local CLI config
.terraform.lock.hcl
